#modalFilm{
    display: none;
}

.modalInfo{
    height: 450px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.titleInfo{
    display: block;
    margin: 0;
    top: 10px;
}

.view{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(23, 19, 61, 0.8);
    color: white; 
    padding: 20px 0 0 20px;
}

#close-btn{
    position: absolute;
    top: 0%;
    right: 3%;
}

.overviewFilm{
    font-size: 20px;
}