.modalInfo{
    display: none;
    height: 450px;
    position: fixed;
    z-index: 1;
}

.titleInfo{
    display: block;
    margin: 0;
}

.view{
    display: inline-block;
}

.posterMovie{
    padding-bottom: 100px;
}

#close-btn{
    position: absolute;
    top: 3%;
    right: 2%;
}

.overviewFilm{
    font-size: 20px;
}