<div  id="favorFilm" class="favorItem">
        <img class="posterMovie  " src="#" alt="imgTitle">
        <div class="view">
            <h1 class="titleInfo"></h1><span class="yearFilm"></span>
            <span class="raitFilm"></span>
            <div> Genre: <em class="genreInfo"></em></div>
            <div><h2>OVERVIEW</h2></div>
            <h4 class="overviewFilm"></h4>
            <img class="addToMyFavorites" src="https://image.flaticon.com/icons/png/128/185/185009.png" alt="myfvrt">
        </div> 
    </div>
    