#viewPopular, #viewTop, #viewMood{
    position: relative;
}

#viewPopular{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('https://img4.goodfon.ru/wallpaper/nbig/5/3c/kinoplenka-popkorn-fon.jpg') no-repeat top center;
    height: 100vh;
}

#viewTop{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('https://ae01.alicdn.com/kf/HTB128h1igoQMeJjy0Foq6AShVXau/Hollywood-Cinema-Film-Movie-Black-Filming-Background-Vinyl-cloth-High-quality-Computer-printed-wall-backdrop.jpg') no-repeat left center;
    height: 100vh;
}

#viewMood{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/V7QIfdTcgikqxmxok/cinema-background_vzw7c2tqe__F0000.png') no-repeat top center;
    height: 100vh;
}

b{
    position: absolute;
    top: 20%;   
}

.mainPart{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.mainPart b{
    font-size: 20px;
}

.getMovieIcon img{
    width: 200px;
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%)
}

.popcorn, .oscar{
    left: 40%;
    z-index: 3;
}

.cola{
    right:-15%;
}

.cinema{
    right: -10%;
}

.start-btn{
    width: 50%;
    padding: 10px 0;
    background-color:#005BC6;
    color: white;
    border-radius: 5px; 
    font-weight: bold;
    position: absolute;
    top: 80%;
    margin: 0 auto;
}

.start-btn:hover{
    background-color: #fff;
    color: #005BC6;
    border: 3px solid #005BC6; 
}