@import url('https://fonts.googleapis.com/css?family=Capriola&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Capriola',sans-serif;
    background-color: #1E2832;
}

#mainPage{
    height: 100vh;
    max-width: 100%;
}

#mainContent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(0,0,0,0.7);
}

#contentPage{
    display: none;
}

#menu{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row, nowrap;
    background: #000 top center no-repeat / cover;
    margin: 0;
    height: 70px;
    min-width: 769px;
}

#filmsContainer{
    width: 100%;   
}

#film-details{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#owl-item{
    z-index: 999;
}

#movie{
    margin: 0 auto;
    width: 90%;
}

#movie .contain{
    max-width: 100%;
    margin: 0 auto; 
}

#sliderShow{
    display: none;
}

#mood-film{
    margin-top: 10px;
}

.owl-prev{
    left: -10px;
}

.owl-next{
    right: -10px;
}

.owl-next, .owl-prev{
    position: absolute;
    top: 30%;
}

.owl-next span, .owl-prev span{
    font-size: 80px;
    color: rgb(205, 228, 0);
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
}

.moreMovies, .moreFilms{
    display: flex;
    justify-content: center;
    flex-flow: column, nowrap;
}

.modal-opened{
    overflow: hidden;
}

#toMenu img{
    margin-left: 30px;
    width: 50px;
}
